.mountainCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.indivCard {
  margin: 8px;
  box-shadow: 0px 0px 32px 0px rgba(89, 83, 83, 0.75);
  border-radius: 9px;
}
.img {
  box-shadow: 0px 0px 39px 0px rgba(89, 83, 83, 0.75);
  margin-top: -20px;
}

.link {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(32, 31, 31);
  padding: 15px;
  margin-left: 0px;
}

.mountains {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: mountains-appear 1s ease-out forwards;
}

.countryTitle {
  margin-left: 0.6rem;
  position: flex;
  text-align: center;
  margin-top: 30px;
}

.mountains ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes mountains-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
